<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jarallax/1.10.3/jarallax.min.js" integrity="sha256-47N8Ekgz8Bwv+ixWQTI1xe60CsiArKvD6qstdH7T/Gg=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jarallax/1.10.3/jarallax-video.min.js" integrity="sha256-wJ1+GZRC2N2ehKypRHWApg17wYEvjH+XEmSDA+08Noo=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jarallax/1.10.3/jarallax-element.min.js" integrity="sha256-4vthP31JGAuKMLpktU68VTn0m9p0H9mUFPlOq07+2x0=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js" integrity="sha256-SNaaqfQPa0XlEqQDrsurQ+Qq5XnhNrwHQXnZpdXlCEI=" crossorigin="anonymous"></script>

<script type="text/javascript" src="{{ .Site.BaseURL }}js/main.js"></script>
